<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form method="post" action="/dangky" enctype="multipart/form-data">
	<input type="text" name="username" placeholder="UserName" required><br><br>
	<input type="password" name="password" placeholder="Password" required><br><br>
	<input type="text" name="address" placeholder="Address"><br><br>
	<input type="file" name="avatar" placeholder="Images"><br><br>
	<input type="submit" value="Sign Up">
</form>
</body>
</html>