<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form method="post" action="/upload">
		<input type="text" name="name" placeholder="Name"><br><br>
		<input type="text" name="cost" placeholder="Cost"><br><br>
		<input type="text" name="bodies" placeholder="Bodies"><br><br>
		<input type="submit" value="Upload">
	</form>
</body>
</html> 