<!DOCTYPE html>
<html>
<head>
	<title>Nodejs KhoaPham</title>
</head>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="css/style.css">

<body>
	<form action="/profile" method="post" enctype="multipart/form-data">
		<input type="file" name="avatar" multiple>
		<input type="submit" value="Send">
	</form>
	<br>
	<br>
	<br>
	<br>
	
</body>
</html>

