<!DOCTYPE html>
<html>
<head>
	<title>SINH VIEN - SUA</title>
</head>
<body>
<form method="post" action="../../sinhvien/sua" enctype="application/x-wwww-form-urlencoded">
	<input type="hidden" name="txtId" value="<%= sv.id %>">
	<input type="text" name="txtHoTen" placeholder="Ho Ten" value="<%= sv.hoten %>">
	<input type="text" name="txtEmail" placeholder="Email" value="<%= sv.email %>">
	<input type="submit" name="btnThem" value="Sua"> 
</form>
</body>
</html>