<!DOCTYPE html>
<html>
<head>
	<title>SINH VIEN - THEM</title>
</head>
<body>
<form method="post" action="" enctype="application/x-wwww-form-urlencoded">
	<input type="text" name="txtHoTen" placeholder="Ho Ten">
	<input type="text" name="txtEmail" placeholder="Email">
	<input type="submit" name="btnThem" value="Them">
</form>
</body>
</html>