<!DOCTYPE html>
<html>
<head>
	<title>Dang ky</title>
</head>
<body>
<h1>Chung thuc user voi passport</h1>
<div>
	<form action="/signup" method="post">
		EMAIL: <input type="text" name="email">
		PASSWORD: <input type="text" name="password">
		<input type="submit" name="VALUES">
	</form>
</div>
</body>
</html>