<!DOCTYPE html>
<html>
<head>
	<title>trang chu</title>
</head>
<body>
<a href="http://localhost:9000/566?t=previous" id="truoc">Nhóm công ty thương mại điện tử bán hàng</a><br><br><br>
<a href="" id="sau">Nhóm công ty cung cấp dịch vụ thương mại điện tử</a>
</body>
</html


https://www.youtube.com/watch?v=jSxeKxWQIGc
https://www.youtube.com/watch?v=rHC03z1GPaA
https://www.youtube.com/watch?v=BnLOTQP5tZk
https://www.youtube.com/watch?v=2QA2tjtXd30&list=PLZm85UZQLd2Q946FgnllFFMa0mfQLrYDL&index=6
https://www.youtube.com/watch?v=pzGQMwGmCnc
https://www.ctl.io/developers/blog/post/build-user-authentication-with-node-js-express-passport-and-mongodb
https://github.com/AlbertWhite/node-login