
<!DOCTYPE html>
<html>
<head>
	<title>Dien Vien Nha Phuong</title>
	<base href="http://localhost:3000/">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="nhaphuong">
	<a href="./images/<%= truoc %>" id="truoc">Truoc</a>
	<a href="./images/<%= dangxem + 1%>" id="sau">Sau</a>

	<div id="block"></div>
	<img src="images/<%= hinh %>" id="hinhNP" />

	<div id="block"></div>
	<img id="like" src="images/like.png" />
	<img id="dislike" src="images/dislike.png" />

</div>
</body>
</html>